*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    user-select: none;
}
body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#00ffff;


}
.container{

    width: 90%;  
    height: 85vh;
    background: rgba(255,255,255,.7);
}
.sidebar{
    text-align: left;
    background: white;
    width: 15%;
    border-radius: 2rem;
    
}
.container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px;
    margin-top: 1em;

}
.container .navbar .logo{
    display: flex;
    align-items: center;
}
.container .navbar .logo .logoname{
    font-size: 18px;
    text-transform: uppercase;
    margin-left: .5em ;
}
.container .navbar .logo img{
    animation: rotet 8s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(-360deg);
    }
}
.container .navbar .searchbox{
    position: relative;
}
.container .navbar .searchbox input {
    padding: 8px 120px 8px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: .3s;
}
.container .navbar .searchbox input:focus {

    padding: 8px 270px 8px 20px;
    
}
.container .navbar .searchbox .fa {
    position: absolute;
    top:10px;
    right: 10px;
}
.container .navbar .naviitem {
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .navbar .naviitem .lang select {
    padding: 6px 30px;
    border: none;
    outline: none;
    border-radius: 6px;
    position: relative;
    right: 4em;
}
.container .navbar .naviitem .icons {
    position: relative;
    right: 1em;
}
.container .navbar .naviitem .icons ul li{
    position: relative;
    display: inline-block;
    font-size: 16;
    margin: 0 12px ;
    color: #000;
}
.container .navbar .naviitem .accounts {
    padding-left: 0%;
    position: relative;
    display: flex;
    align-items: center;

}
.container .navbar .naviitem .accounts img {
    border-radius: 50%;

}
.container .navbar .naviitem .accounts .name {
    text-transform: capitalize;
    margin: 0 8px ;
    font-weight: 700;
}
.container .navbar .naviitem .accounts .username {
    position: absolute;
    top: 18px;
    left: 32px;
    font-size: 12px; 
}
.container-body {
    display: grid;
    grid-template-columns: 18% auto;

}
.container-body .sidebar{
    margin: 20px 0 20px 20px;
    background: rgba(255,255,255,.6);
    border-radius: 14px;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.container-body .sidebar ul li{
    padding: 10px 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}
.container-body .sidebar ul li a {
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
    flex-wrap: wrap;
}
.container-body .sidebar ul li .fa{
    font-size: 18px;
    padding: 0 5px;
}
.container-body .sidebar ul .dashboard{
    background: #00004d;
    color: #fff;
    border-radius: 8px;
    padding: 10px ;

}
.container-body .sidebar ul .dashboard a{
    color: #fff;
}

.container-body .mainbody .title{
    padding: 15px;
    margin: 20px;
    margin-bottom: 0;
}
.container-body .mainbody .title .greeting{
    text-transform: capitalize;
    font-weight: 700 ;
    font-size: 16px;
}
.container-body .mainbody .title h2{
    font-size: 25px;
    font-weight: normal;
}
.container-body .mainbody .cards {
    display: grid;
    grid-template-rows: 180px 140px;
    grid-gap: 20px;
    padding: 20px;
}
.container-body .mainbody .cards .row-1 {
    display: grid;
    grid-template-columns: 30% 40% auto;
    grid-gap: 20px;
}
.container-body .mainbody .cards .row-2{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 20px;
} 
.container-body .mainbody .cards .row .col{
    background: rgba(255,255,255,.5); ;
    border-radius: 15px;
}
.container-body .mainbody .cards .row .col .cardtitle{
    font-size: 16px;
    padding: 20px;
    text-transform: capitalize;
}
.balance-card{
    position: relative;

}
.balance-card h2{
    font-size: 28px;
    padding: 10px 20px;
}
.balance-card span{
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    color: #33cc33;
}
.Mycard{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 18px;
    background: #33ccff;
    color: #fff;
}
.Mycard .cardnumber {
    font-size: 18px;
    padding: 10px 20px;
    padding-left: 0;
    background: rgba(255, 255, 255, .6);
    color: #000;
    font-weight: normal;
}
.col .t-i, .p-i, .u-i, .i-s {
    font-size: 25px;
    font-weight: 700;
    padding: 20px 5px 20px 20px;
}   
.col .status{
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 6px;
    position: relative;
    bottom: 3px;
}
.totalinvoice .status {
    font-weight: 700;
    color: #339933;
    font-size: 16px;
    padding-left: 5px;
}
.paidinvoice .status{
    background: #0066cc;
}
.unpaidinvoice .status{
    background: #ff0066;
}
.invoicesent .status{
    background: #ffcc00;
}